.parent{
    width:100%;
    display:flex;
    gap:10px;
    
}
.parent-child{
    flex:1 1 400px;
    background-color:red;
    border:1px solid red;
    height:300px;
    

}

.parent-child1{
    flex:2 2 400px;
    background-color:red;
    border:1px solid red;
    height:300px;

}