* {
	box-sizing: border-box;
}


.large-only {
	display: none;

}

.bar{
	display:flex;
	align-items:center;
	height: 2.5rem;
	padding: 0.5rem;
	width: 100%;
	background-color: white;

}

.bar--fixed{
	position:fixed;
}

.profile-pic-container{
	
	
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

}
.profile-pic-container--active-border{
	border: 1px solid rgb(239, 81, 81);
	border-radius: 100%;
	padding:0.1em;

}
.header {
	top: 0;
	left: 0;

	border-bottom: 1px solid rgb(188, 186, 186);
	z-index: 3;
	


}

.header__text {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar {
	bottom: 0;
	left: 0;
	
	justify-content: space-around;

	border-top: 1px solid rgb(188, 186, 186);
}

.navbar__link-icon {
	width: 1.5em;
}

.body {
	padding-top: 3em;
	padding-bottom: 5em;
}

.stories-bar {
	
	overflow-x: scroll;
	display: flex;
	margin-top: 1rem;

	-ms-overflow-style: none;
	scrollbar-width: none;
	border: 1px solid rgb(188, 186, 186);
	padding: 0.5rem;

}


.stories-bar::-webkit-scrollbar {
	display: none;
}

.story {

	margin-left: 1em;
}

.story-image-container {
	width:3em;
	height:3em;


	

}

.story__image {
	border-radius:100%;
	width: 100%;
	height: 100%;


}

.story__username {
	font-size: 0.7em;
	width: 100%;
	text-align: center;
	;
}

.feed {
	margin-top: 2rem;
}

.post {
	border: 1px solid rgb(188, 186, 186);
	margin-top: 3rem;

}


.post-header {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.post-header__profile-pic-container{
	width: 2.5em;
	max-height: 2.5em;

}

.post-header__profile-pic {
	width: 100%;
	height: auto;
	border-radius: 100%;

}

.post-header__username {
	margin-left: 0.5em;
	font-size: 1.2em;
	font-weight: 600;

}


.post-picture-container {
	padding: 0.1em;
	display: flex;
	justify-content: center;
	background-color: linen;


}

.post__picture {
	max-width: 100%;
	height: auto;

}


